doctype html
- var project_name = "Marco Bootstrap"
html
  head
    block head
      meta(charset="UTF-8")
      script(src="{{ static_url('js/jquery.min.js') }}")

      link(rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}")
      link(rel="stylesheet" href="{{ static_url('css/style.css') }}")
      script(src="{{ static_url('js/bootstrap.min.js') }}")
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      title #{project_name}
  boby
    div.navbar.navbar-default
      div.container
        div.navbar-header
          a.navbar-brand(href='/')
            span.navbar-brand-label #{project_name}
          button.navbar-toggle.collapsed(data-toggle='collapse', data-target='.my-navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        div.navbar-collapse.my-navbar-collapse.collapse
          ul.nav.navbar-nav
            li: a(href='/')
              i.fa.fa-home
              |  Inicio
            li: a(href="/scheduled/")
              i.fa.fa-home
              | Programados
            li: a(href="/bootcode/")
              i.fa.fa-home
              | Bootcode
            li: a(href="/logout/")
              i.fa.fa-home
              | Logout
          block counter
            
    block content