extends /usr/lib/marcobootstrap/backend/templates/base.jade
block head
    meta(charset="UTF-8")
    script(src="{{ static_url('js/jquery.min.js') }}")

    link(rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}")
    link(rel="stylesheet" href="{{ static_url('css/style.css') }}")
    script(src="{{ static_url('js/bootstrap.min.js') }}")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{project_name}
block content
  div.page
    div.container
      div.row
        div.col-sm-8.col-md-7
          form(action="/login/", method="POST")
            div.form-group
              div.input-group
                div.input-group-addon
                  span.glyphicon.glyphicon-user
                input.form-control(name="user", type="text", placeholder="Usuario")
            div.form-group
              label.sr-only(for="password")
                span.glyphicon.glyphicon-lock
              div.input-group
                div.input-group-addon
                  span.glyphicon.glyphicon-lock
                input.form-control(type="password", name="password")
            button.btn.btn-primary(type="submit", placeholder="Contraseña") Iniciar sesión

